 <div class="panel panel-default panel-primary col-md-4 col-lg-12 border-grid" style="width:800px;border:3px solid #99bce8;border-radius:5px;">
          <div class="panel-heading"><span class="subheading">Control List</span></div> 
          <div class="panel-content">             
        <div id="grid1" ui-grid="gridOptions_screenElement" ui-grid-pagination ui-grid-selection ui-grid-resize-columns ui-grid-move-columns class="grid"></div> 
          </div>
          <div align="center"><button  class="btn btn-default btn-xs" ng-click="cancel_popup()">cancel</button><button  class="btn btn-default btn-xs" ng-click="addControl()">Add</button></div>     
 </div> 